# Get your token from https://console.mapbox.com/account/access-tokens/
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.your_mapbox_public_token_here

# URL of the web server API
EXPO_PUBLIC_API_URL=http://localhost:3000
